// COLORS
$color-primary: #ff631b;
$color-secondary: #002155;
$color-gray: #777777;
$color-gray-blue: #8f9db2;
$color-light: #ffffff;
$color-section-gray-bg: #f8f8f8;
$color-gray-light: #f2f3f5;

// FONTS
